[2015-09-08 19:51] jakepruitt opened #1 "Meeting Times and Contact Information"
Contact info:
- **Name**: Jake Pruitt
- **Phone**: (219) 921-4832
- **Email**: jrpruit1@asu.edu

Availability

| Day | Hours |
| --- | --- |
| Mon | 9:00 - 15:00 |
| Tues | 9:00 - 10:00, 12:00 - 13:00, 18:00 - 21:00 |
| Wed | 9:00 - 15:00 |
| Thurs | 9:00 - 10:00, 12:00 - 13:00, 18:00 - 21:00 |
| Fri | 9:00 - 13:00, 15:00 - 21:00 |
| Sat | all day |
| Sun | all day |

---

Please add your contact

[2015-09-08 21:17] ApertureTS commented on #1
Contact info / experience:

Name: Derek Norman
Phone: (623) 396-9247
Email: danorma1@asu.edu

Mostly java, and C#. I'm ok with python.
C / C++, can use, but don't like

Availability:
Mon: 1330-1500,2330+
Tue:  1330-1500,2330+
Wed:  1000-1130,1330-1900,2200+
Thu:   1330-1730,2100+
Fri:     NA
Sat:    1000-1500
Sun:   all day
I'm usually up until 1 am

[2015-09-09 01:48] jakepruitt opened #2 "Project Task Splitting"
From @ApertureTS:

I am in full favor of doing this split. I personally would like to work on part 1, but am willing to change parts as needed. Which parts would you like to take on, @SreeniASU @ApertureTS, @Perryo, @GCrispino?

Project requirements can be found at https://github.com/SreeniASU/multimedia-information-systems/blob/master/docs/project1f15.pdf

[2015-09-09 03:12] SreeniASU commented on #2
I would also like to join Jake on Part 1.

[2015-09-09 04:23] Perryo commented on #1
Hi guys!
Name: James Perry
Phone: (602) 751-8377
E-Mail: jrperry4@asu.edu

| Day | Hours |
| --- | --- |
| Monday | After 4:00 pm |
| Tuesday | 1:30pm-2:45pm / After 4:30 pm |
| Wednesday | After 4:00 pm |
| Thursday | 1:30pm-2:45pm / After 4:30 pm |
| Friday | After 4:00 pm |
| Saturday | All Day |
| Sunday | All Day |

[2015-09-09 04:34] SreeniASU commented on #1
Hi guys,

Name : Sreenivas (Sreeni)
Phone : 480 738 3280
email : spsheno1@asu.edu

Availability :

Tuesday After 4 pm
Thursday : After 4 pm
Friday : All Day
Saturday : All Day
Sunday : All Day

[2015-09-09 06:09] ApertureTS commented on #2
I was thinking about doing the first,  but I don't mind working on the
second. I could even be the one that works on both unless someone else
wants it.  Especially if someone has experience with multimedia.
 How about we all do a hangout on thur around 6pm? That seems to fit with
everyone's schedule that I saw.

[2015-09-09 06:24] Perryo commented on #2
I am cool with this, also fine with working on part 2.

[2015-09-09 06:34] GCrispino commented on #1
Hi everyone,

Name: Gabriel Crispino
Phone: 480 616 5766
email: gnunescr@asu.edu

Availability:

Monday: 2 pm to 4:30pm / after 19 hrs
Tuesday: after 11:45 am
Wednesday: 2 pm to 4:30pm / after 19 hrs
Thursday: after 11:45 am
Friday: all day
Saturday: all day
Sunday: all day

PS: unfortunately I have a trip scheduled to the next friday, so I won't be available during the weekend. I apologize. After

[2015-09-09 06:36] GCrispino commented on #2
If I had to choose I would pick part 1 or part 2, because I am not very experienced in writing reports, but we can work on what's better for everyone.

[2015-09-10 04:10] jakepruitt commented on #2
@ApertureTS Thursday at 6 works for me! What is the best way to set up the meeting? Are we all on campus or would we like to have a Google Hangout/Skype/Highfive meeting?

[2015-09-10 04:27] GCrispino commented on #2
I won't be on campus, but I can get there if it's better for you all. A video conference works for me too.

[2015-09-10 04:29] ApertureTS commented on #2
Maybe we can try to meet on campus 20 min before class or try to find
another time if you guys want,  but I was thinking of doing a hangout or
Skype
On Sep 9, 2015 9:10 PM, "Jake Pruitt" notifications@github.com wrote:

[2015-09-10 05:06] SreeniASU commented on #2
Anything fine with me too!!

On Wed, Sep 9, 2015 at 9:29 PM, ApertureTS notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-09-10 15:04] Perryo commented on #2
I think that Skype or google hangouts is a good idea

[2015-09-11 00:12] Perryo commented on #2
What is the consensus on this get together? Will we be meeting on google hangouts or skype? My skype name is jperry651, if we are meeting on hangouts lets please post the link on this thread.

[2015-09-11 00:14] ApertureTS commented on #2
I'm more familiar with Hangouts,  and we can use asu.edu accounts. But
either is fine with me.
On Sep 10, 2015 5:12 PM, "James" notifications@github.com wrote:

[2015-09-11 00:22] SreeniASU commented on #2
I would also prefer Hangouts.

On Thu, Sep 10, 2015 at 5:14 PM, ApertureTS notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-09-11 00:37] Perryo commented on #2
I went ahead and made the call.
We can start around 6 since thats what everyone had agreed upon, but it will still work before then.

https://talkgadget.google.com/hangouts/_/xxwa4myimyfjtkpitibym2wkxaa

[2015-09-11 01:19] jakepruitt opened #3 "Python environment setup and dependency setup"
Set up virtualenv/pip dependencies for python. cc/ @ApertureTS

[2015-09-11 01:27] jakepruitt opened #4 "Test setup"
Set up a simple script that runs the programs and can compare the output with an expected output.

[2015-09-12 01:37] SreeniASU opened #5 "This seems to be useful for the first part"
https://github.com/spmallick/learnopencv/blob/master/Colormap/custom_colormap.py

[2015-09-13 00:50] jakepruitt commented on #5
Great find @SreeniASU!

[2015-09-13 00:51] jakepruitt commented on #3
Added instructions in README

[2015-09-13 00:51] #3 closed, assigned to jakepruitt

[2015-09-14 03:50] SreeniASU opened #6 "Understanding of Part1: Correct me if I am wrong."
Hi Guys,

This is my understanding of Part1 and based on it I have started writing the code.

1) User inputs : Colorspace (RGB / XYZ/ Lab, YUV etc), A tuple (C0, C1, C2) from the selected colorspace, b = number of bits so that 2^b color instances will be present in our color map

2) We have to create a function such that  for all the values in the range [-1, +1] a suitable tuple value (X,Y,Z) pres

[2015-09-14 07:48] jakepruitt commented on #6
I think you may be confusing the format of the inputs here. The inputs C0, C1 and C2 are each tuples, so -1 will be mapped to C0, 0 to C1 and +1 to C2. For example, an example input would work the following way:

[code]

This, at least, is my understanding. I am not quite sure how the display on the terminal will work, but that may be a function of opencv that I just haven't seen yet.

Does this m

[2015-09-14 19:32] SreeniASU commented on #6
Yes.This makes more sense. I was just confused with the format of the inputs. I have merged your pull request.

[2015-09-15 18:38] jakepruitt commented on #6
@SreeniASU - after hearing the clarification in class, I think we should split up this first part into two deliverables so that both of us can work in parallel:
1. **Input to array of colors** - there should be a module/function/class that takes the three initial colors c0, c1, c2, as well as the number of bits b, and outputs an array with length 2^b of colors that will be used in the color map. E

[2015-09-15 19:19] SreeniASU commented on #6
Hi Jake,

 I would prefer working more on the first part, if that is ok for you.

Thanks,
Sreenivas

On Tue, Sep 15, 2015 at 11:38 AM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-09-19 10:56] GCrispino opened #9 "New quick commit"
Just commited a new update for the project 2 right now. I tried to run it on my machine and it didn't work because of some minor bugs. Just fixed it.

@Perryo, if I should have not done or did something wrong we can go back to the latest commit.

[2015-09-19 20:19] SreeniASU opened #11 "cv2.cv.CV_XYZ2BGR instead of cv2.CV_XYZ2BGR"
@jakepruitt

 For Part1 code, in colors2image.py I guess, cv2.CV_XYZ2BGR won't work. It has to be cv2.cv.CV_XYZ2BGR. Similarly for others. I have made the fix in my system and then it worked perfectly fine. Can you please check that?

[2015-09-19 21:03] #6 closed, assigned to nobody

[2015-09-19 21:05] jakepruitt opened #12 "Second Part assumes BGR"
At the moment, part 2 still assumes that the color map is BGR. Should this allow for different colorspaces?

cc/ @Perryo @GCrispino @ApertureTS

[2015-09-19 21:14] jakepruitt commented on #11
Jumping on this now, looks like using XYZ isn't working at all at the moment. Going to work on this for a few hours, try to get test cases set up for all color spaces, and possibly add a few more checks to the input to accept different ranges depending on the color space. @SreeniASU are you online right now?

[2015-09-19 21:22] GCrispino commented on #12
I don't really know if that is necessary. But if we do that, wouldn't we have to only use that cvtColor function? Am I right?
Em 19/09/2015 2:05 PM, Jake Pruitt notifications@github.com escreveu:At the moment, part 2 still assumes that the color map is BGR. Should this allow for different colorspaces?

cc/ @Perryo @GCrispino @ApertureTS

—Reply to this email directly or view it on GitHub.

[2015-09-19 21:35] Perryo commented on #12
The color map is not a specific color space so I don't think it will matter

[2015-09-21 00:22] jakepruitt commented on #11
This has been fixed

[2015-09-21 00:22] #11 closed, assigned to nobody

[2015-09-21 00:22] #9 closed, assigned to nobody

[2015-09-21 00:23] jakepruitt commented on #5
This was very useful. Used in the first part effectively.

[2015-09-21 00:23] #5 closed, assigned to nobody

[2015-09-21 00:43] ApertureTS opened #16 "Project Demo"
Wed 9/23 from 4-4:30 pm. this time seems to work best with everyone's schedules.

I didn't see when Sreenivas was availible on Wed. We will need a laptop that can run our project.

![image](https://cloud.githubusercontent.com/assets/9064846/9983776/c81b5c42-5fbe-11e5-9814-52719dcbc788.png)

[2015-09-21 01:57] jakepruitt commented on #16
Sweet, thanks for setting this up @ApertureTS. I will be sure to be there.

[2015-09-21 02:33] SreeniASU commented on #16
Hi,

 I will be there at 4.

Thanks
Sreenivas

On Sun, Sep 20, 2015 at 6:57 PM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-09-21 03:31] GCrispino commented on #16
Have I been assigned to this? I don't know if I will be able to go, because I have class at 4:30 pm, but if nobody can go, maybe I can do it.

[2015-09-21 03:40] Perryo commented on #16
I can make it however I do not have this set up on my laptop

[2015-09-21 05:30] ApertureTS commented on #16
Just so you all know the project is submitted.
Also, we don't need for everyone to be there, but as many as possible (he
said at least 2 people). I was hoping Jake could bring his? If not, or no
one else can, I have an older one that boots to Linux. I don't like to
bring it because its heavy.

On Sun, Sep 20, 2015 at 8:40 PM, James notifications@github.com wrote:

[2015-09-22 03:43] GCrispino commented on #16
@ApertureTS, you only have this old one? It doesn't have to have linux installed linux, it only has to have python and opencv-Python installed on it.

[2015-09-22 04:49] jakepruitt commented on #16
@ApertureTS I just remembered that I have a test tomorrow in my 3:00 class, which means I have to attend. Any other day I would skip and be able to make the demo. I'll try to get done with the test early and get over to the demo as soon as I can, but someone else will need to be prepared to demo on their own laptop. Sorry guys.

[2015-09-22 05:13] ApertureTS commented on #16
I'll try to install everything tonight to make sure it works.
Jake,  it's fine. As long as we have someone who worked on easy part,  we
should be ok.
On Sep 21, 2015 9:49 PM, "Jake Pruitt" notifications@github.com wrote:

[2015-09-23 15:19] Perryo commented on #16
Who all is going to this? I've got to come from a physical therapy session in Chandler so I may be cutting it very close. If it is the case that I need to attend, I also need to set this up on my laptop.

[2015-09-23 16:51] ApertureTS commented on #16
I'll be there.  And I have my laptop.
On Sep 23, 2015 8:19 AM, "James" notifications@github.com wrote:

[2015-09-23 18:56] SreeniASU commented on #16
I shall also join. Sorry for not replying for the past two-three days as I
was not feeling well with my health.

On Wed, Sep 23, 2015 at 9:51 AM, ApertureTS notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-09-23 20:59] GCrispino commented on #16
I'll go too. I am bringing my laptop(its battery is not so good, but I am bringing its charger as well).

[2015-09-24 01:42] jakepruitt opened #17 "Demo Review"
Today we had our demo with the TA, which provided a lot of feedback and clarified the requirements of the assignment much more. Here are the notes I can remember from the meeting:
#### How did we do color conversions?

We answered by saying that we converted colors using `cv2.cvtColor` native library with OpenCV, which seemed to be sufficient. This bit us later down the road when we said we didn't

[2015-09-25 01:24] ApertureTS commented on #17
the report is on drive. I will also add the step-by-step instructions on using the program to the report

[2015-09-26 06:19] SreeniASU commented on #17
I will be looking into the XYZ issue from tmrw morning..

On Thu, Sep 24, 2015 at 6:24 PM, ApertureTS notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-09-27 19:49] SreeniASU commented on #17
Is anyone in? ;) XYZ is working fine in my system now after the fix.. If
all of you can have a look it would be great. :)

On Fri, Sep 25, 2015 at 11:18 PM, Sreenivas Shenoy spsheno1@asu.edu wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-09-27 20:10] ApertureTS commented on #17
Nice. I added instructions on using our project.

On Sun, Sep 27, 2015 at 12:49 PM, SreeniASU notifications@github.com
wrote:

[2015-09-27 22:54] jakepruitt commented on #17
@SreeniASU what fix did you make?

[2015-09-27 23:00] SreeniASU commented on #17
The colormap image was getting properly saved. Just that it has a display
issue. What I did was instead of directly displaying the colormap on the
fly, I save the colormap file, and then read the file and display it. It
worked in my system after that. Can you please check if that is working
fine in your system?

Thanks
Sreenivas

On Sun, Sep 27, 2015 at 3:54 PM, Jake Pruitt notifications@github.co

[2015-09-27 23:03] SreeniASU commented on #17
Attached is one XYZ colormap file.

[image: Inline image 1]

On Sun, Sep 27, 2015 at 4:00 PM, Sreenivas Shenoy spsheno1@asu.edu wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-09-27 23:04] ApertureTS commented on #17
https://docs.google.com/a/asu.edu/document/d/14waJr3Hi4qJ6Vno1A5laBM19xrLSMOvwpyxMBH1hPd4/edit?usp=sharing

On Sun, Sep 27, 2015 at 3:54 PM, Jake Pruitt notifications@github.com
wrote:

[2015-09-27 23:07] jakepruitt commented on #17
@SreeniASU I will go ahead and add the code for saving, opening, and displaying the color into the project. Thanks @ApertureTS for sharing that. What is our current feeling on the other deliverables for the final submittal? I am willing to jump on these tasks:
- **Add code for fixing XYZ**

[2015-09-27 23:09] jakepruitt commented on #17
As well as the following tasks:
- More tests for part 1
- In-depth description of color models
- Possibly adding other color models to part 1

Things that I could use help with:
- Allowing different color models in part 2
- Possibly more tests in part 2
- In-depth explanation for choosing representative samples of color partitions

[2015-09-27 23:17] SreeniASU commented on #17
Jake, As of now XYZ is working in my system. Can you please check with the
latest code in git? I have attached  a file as well for the colormap file
in the previous mail. I need to go out and will come back by 8 and will
work.

On Sun, Sep 27, 2015 at 4:09 PM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@

[2015-09-27 23:24] jakepruitt commented on #17
@SreeniASU I don't see that you've made any changes to the git codebase, do you want me to make the changes and contribute to the codebase. And as for the attached image, it did not go through on the email, could you attach it in a github comment on this issue?

In the future, could you write a test case that proves that this functionality is working on your system?

[2015-09-27 23:36] SreeniASU commented on #17
Oops.. Wasn't there a new PR? let me check. Am sorry.

On Sun, Sep 27, 2015 at 4:24 PM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-09-28 02:23] Perryo commented on #17
Sorry guys ive been out all day, and getting a new phone so i've been hard to contact. I saw Derek sent an invite for a chat, how is everything going? Do you guys need help?

[2015-09-28 02:33] #16 closed, assigned to nobody

[2015-09-28 02:34] jakepruitt commented on #17
Hey @Perryo we just finished up the report and resubmitted it to the TA. Check out the final version at the google doc link that @ApertureTS posted above. Thanks for checking in, and don't worry about having things come up, there will be plenty more work in the future.

[2015-09-28 02:34] #17 closed, assigned to nobody

[2015-10-02 22:17] Perryo commented on #2
Hey Guys, maybe we should meet up again soon and partition out the pieces for project 2.

[2015-10-03 08:48] ApertureTS commented on #2
In person? I can meet online sun.
On Oct 2, 2015 3:17 PM, "James" notifications@github.com wrote:

[2015-10-03 17:41] Perryo commented on #2
I think online works, lets aim for noon Sunday (Oct 4th), anyone have a conflict with that?

[2015-10-03 18:19] ApertureTS commented on #2
Works for me
On Oct 3, 2015 10:41 AM, "James" notifications@github.com wrote:

[2015-10-03 19:22] SreeniASU commented on #2
Works for me too..

On Sat, Oct 3, 2015 at 11:19 AM, Derek notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-10-03 20:23] jakepruitt commented on #2
Sounds great!
On Oct 3, 2015 12:22 PM, "SreeniASU" notifications@github.com wrote:

[2015-10-04 18:23] Perryo commented on #2
I'll be on at noon:
https://hangouts.google.com/call/q7hv6i4sy7c4cijxohm4mm7vm4a

[2015-10-05 17:44] GCrispino commented on #2
What are you planning to do today? When I said at our hangout that I wouldn't be able to meet with you today it was because I thought it would be in the middle of the afternoon(like 3-4 p.m.). But since it is going to be at 6, probably I will be able to make it. The problem is that I have a class until 5:45 pm, and usually after this class I have dinner and go home.
Is it a problem if I have dinne

[2015-10-05 18:07] ApertureTS commented on #2
Yes the meeting is online.  I forgot that my sister is coming to town
today,  and I have a family thing at 7... I can only be on until 640. Sorry
about this.
On Oct 5, 2015 10:46 AM, "GCrispino" notifications@github.com wrote:

[2015-10-05 18:28] SreeniASU commented on #2
I won't be able to make it till 7:30. I have class from 4.15 - 7.30.
Tomorrow there is career fair for graduate students, but I will be
available after 4 pm tomorrow. Can we please schedule the hangout
accordingly?

On Mon, Oct 5, 2015 at 11:07 AM, Derek notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-7

[2015-10-05 23:33] GCrispino commented on #2
Thats ok for me, we can meet tomorrow too.

[2015-10-05 23:37] Perryo commented on #2
For anyone who can't meet after 6, here is the hangout link, I'm going to try and get a bit of work done. Feel free to use it after for those of you that can work after 6. I will be on and working in a couple minutes.

https://hangouts.google.com/call/nzfmnp2osq24vspzbnyldjdj4ua

[2015-10-07 01:42] jakepruitt opened #19 "Part 2 Task 2 - Spatial Predictive Encoding"
The second task of part 2 of running predictive encoding algorithms A, B, C and the combination of all of them can be done independently of task 1. After chatting with @SreeniASU, he said he would be available to tackle this around Thursday night. @GCrispino and @ApertureTS, if you are available to work with him on it, let him know.

[2015-10-07 16:21] ApertureTS commented on #19
Thur I should be free most of the evening. Nice job everyone.

On Tue, Oct 6, 2015 at 6:42 PM, Jake Pruitt notifications@github.com
wrote:

[2015-10-07 17:06] Perryo commented on #19
We finished encoding options 1,2,and 3 for part 1 last night. I also pushed some changes that write these errors to a file in the format of
< f#, (x,y), e >
where f# is the frame number, x,y is the pixel location, and e is the error. It also properly names the file according to the video and option selected.

[2015-10-07 18:30] GCrispino commented on #19
Did you guys figure out what those alpha values meant on the last predictor option?

[2015-10-09 05:44] ApertureTS opened #20 "Phase 2, part 1"
I will complete the last part of part one. as I said earlier, I will be gone this weekend, and have limited internet access.  Let me know what else I can do.

[2015-10-17 23:28] Perryo commented on #2
Hi guys, Would we like to meet sometime this next week in order to discuss our current progress and what we need to do going forward?

[2015-10-18 21:03] ApertureTS commented on #2
I can video chat today or tomorrow. Most of either day.
On Oct 17, 2015 4:28 PM, "James" notifications@github.com wrote:

[2015-10-18 21:29] SreeniASU commented on #2
Unfortunately my laptop crashed so couldn't upload anything in Git for Part
2. I was able to complete first part of question 2 and second part of
question 2 was in progress. I am trying to recover the data from my laptop.
I am trying to get it up asap.

On Sun, Oct 18, 2015 at 2:03 PM, Derek notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State U

[2015-10-19 21:29] jakepruitt commented on #2
I'm going to be pretty busy today, but if everyone is online tonight, I'll definitely join. I imagine this week will be really heavy with midterms for everyone. Do we want to plan a large group in-person meeting later this week/this weekend?

[2015-10-20 06:37] GCrispino commented on #2
We could meet this week, even if we do it just for checking the progress and organize ourselves. We can do an online or in person meeting, it is up to you guys. I think that would be better after our midterm on thursday, but we could do before if you want. Just let me know.

[2015-10-20 16:23] ApertureTS commented on #2
I can meet thur on campus after 1:15, or online sat morning/sun
On Oct 19, 2015 2:29 PM, "Jake Pruitt" notifications@github.com wrote:

[2015-10-25 15:24] Perryo commented on #2
Would it be possible for us to meet on Monday this week via google hangouts? The assignment is due this next weekend. Does 6pm monday work?

[2015-10-25 16:31] ApertureTS commented on #2
I work on mon,  but I plan on working on it today and I will have time on
Wed and thur
On Oct 25, 2015 8:24 AM, "James" notifications@github.com wrote:

[2015-10-25 21:27] SreeniASU commented on #2
I won't be available on Monday from 4:30 - 7:15. I am available any other
time.

On Sun, Oct 25, 2015 at 9:31 AM, Derek notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-10-26 00:52] GCrispino commented on #2
I am available tommorow by 6:30-7ish pm.
Also, I started working on figuring how to implement the encoding algorithms of task IV

[2015-10-26 23:00] Perryo commented on #2
Gabriel, lets plan on meeting briefly around that time, and we can both discuss how we can work together on Task 4. Can the rest of you coordinate getting together to complete the 3rd part? We also should have someone start writing the report since part 1 and 2 are complete. Anyone want to volunteer? :)

[2015-10-26 23:28] SreeniASU commented on #2
As I mentioned, I am working from 4:30 to 7 ;) So I won't be able to attend
the meeting. Would request someone to post the minutes of the meeting. As I
am the one who did part 2, I shall be able to take up the documentation for
it. In between, I have some doubts regarding the results obtained in Part 2
for which I will be meeting the TA tomorrow and fix the issues.

Thanks
Sreenivas

On Mon, Oct 2

[2015-10-26 23:29] GCrispino commented on #2
James, I will be available until about 7:30/7:45. Would that be enough time for it? If not, we could try to meet earlier.
I have already implemented the LZW and Shannon-Fano algorithms. What we have to do now for Task IV is adapt those implementations to the project and also implement the arithmetic coding algorithm. Tonight I can brief you about what I have already done and we can talk about what

[2015-10-27 00:08] Perryo commented on #2
Thats good Sreenivas, let us know what the TA tells you. Gabriel if you are available now lets chat.
https://hangouts.google.com/call/jgwknpgb5jq5nkr5iacfv3taiua

[2015-10-27 00:11] GCrispino commented on #2
I am in class now. It is going to end at 5:45. I will try to have dinner on campus real quick after that and get home so we can meet. Is that ok for you?

[2015-10-27 00:15] Perryo commented on #2
Sure that is fine. Just let me know when you are ready, I believe you have my phone number.

[2015-10-27 00:17] GCrispino commented on #2
All right. I do have your phone number.

[2015-10-27 07:07] ApertureTS commented on #2
I will have free time tomorrow between 1:30 and 3 pm, and again after
11:30pm. and I plan on working on the project most of wed and thur. Let me
know what I can do/ if someone will be available.

On Sun, Oct 25, 2015 at 5:52 PM, GCrispino notifications@github.com wrote:

[2015-10-28 01:22] SreeniASU commented on #2
Hello,

 We had a quick chat to discuss Task 1.

1) I see that the first task is related to temporal compression and has to
be done on a series of frames.
2)  But from the code what I feel is the compression being done is spatial
and not temporal. (Prediction of pixel values is done based on neighbouring
pixels of a frame rather than the pixel value present in the previous
frame)
3) i.e the predic

[2015-10-28 03:56] Perryo commented on #2
Jake, Gabriel and I have finished Option 2 of Part 3, it is now available in the repo. We are waiting for more clarification on option 1.
Part 3 contained a lot of functionality we can re-purpose for Part 5, so that should make it a little easier as well.
Gabriel also did a good amount of the heavy lifting for Part 4, we will be getting together tomorrow to check that out.
As Sreenivas mentioned P

[2015-10-28 05:30] SreeniASU commented on #2
A final version of Task 2 is on Git. If you guys can have a look on it, it
would be great. I feel it works fine. :) I shall go to TA to clarify Task 3
part 1 and the approach of Task 1.

On Tue, Oct 27, 2015 at 8:56 PM, James notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-10-28 20:18] SreeniASU commented on #2
Hello,

 I have talked with the TA and our Task 1 has to be redesigned as per our
new understanding. If anyone is willing to take Task1, please let me know.
Otherwise I will redesign it.

I showed him the output of Task2 and he has asked me to make some changes
which I will be doing in the next half an hour.

@James:- For Task 3, option 1, there is nothing much to do. It is same as
the output we o

[2015-10-28 20:23] Perryo commented on #2
Awesome sounds good. I will adapt part 3 option 1 to simply re-output the file with the correct naming conventions. Also I can work with you to redo part one of you would like, since I was part of the development process for it initially.

[2015-10-28 20:25] jakepruitt commented on #2
I’m also free to help with part 1. @ApertureTS, what is the status of the alpha calculation?

[2015-10-28 20:31] SreeniASU commented on #2
Great. If you people are looking into Task 1, I will start looking into
Task 4, other than Shannon-Fano Coding which I guess Gabriel has already
done.!!

On Wed, Oct 28, 2015 at 1:25 PM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-10-28 20:40] ApertureTS commented on #2
I can work on part one,  will you be online to discuss it?
On Oct 28, 2015 1:19 PM, "SreeniASU" notifications@github.com wrote:

[2015-10-28 21:37] GCrispino commented on #2
Sreeni, I had already implemented Shannon-Fano and LZW algorithms. I was planning on start to think how I was going to implement the arithmetic coding algorithm today or tommorow(I have to submit a lab to another class by tommorow, that's what is slowing me right now). So, you can leave that part for me, if you want. That is up to you.

[2015-10-28 21:40] SreeniASU commented on #2
Great going Gabriel. Let me start with the documentation for Part 2 then.

On Wed, Oct 28, 2015 at 2:37 PM, GCrispino notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-10-29 00:07] Perryo commented on #2
If anyone is around and able to work on this I will be in this chat room:

https://hangouts.google.com/call/jgwknpgb5jq5nkr5iacfv3taiua

[2015-10-29 06:32] Perryo commented on #20
Hey guys, I got the bones of Part one redone. I have the functionality of storing the last few frames and doing calculations on them, however I need some clarification on the requirements as the output doesn't look quite right to me when we calculate the errors for the second frame instead of using the initial (for PC3).

[2015-10-29 08:22] jakepruitt commented on #20
Hey @Perryo, didn't see this until now, we ended up doing similar work in #22

[2015-10-29 21:20] GCrispino commented on #2
Hey guys. I just pushed my current progress. The details of it are all commented on the latest commit.

[2015-10-29 21:35] Perryo commented on #20
Can you guys merge your part 1 changes into master?

[2015-10-29 21:36] jakepruitt commented on #20
If you think the code is ready, I'm comfortable with you merging it.
On Oct 29, 2015 2:35 PM, "James" notifications@github.com wrote:

[2015-10-30 06:09] ApertureTS commented on #2
I plan on working on part of task 5 starting around 2 am, specifically taking the file generated from Task 1 or 2 and try to convert it to a video. If anyone has started working on this let me know, so we can avoid working on the same things. I also added to the report. @GCrispino can you fill in information about Task 4?

[2015-10-30 07:25] GCrispino commented on #2
Just to keep you guys informed, I just pushed a small update to task IV. Now arithmetic coding is able to encode and decode correctly, but it still have a problem: the higher the to-be-encoded string is, the higher is the number of multiplications and arithmetic operations with very large precision floating point numbers, so the algorithm gets pretty slow for larger strings. For simple test string

[2015-10-30 22:23] Perryo opened #23 "Project 2 - Report"
Hey guys, I think everyone should take a look at the report Sreenivas started and add information for what they worked on. I have just updated it with how part 3 quantization works.

https://docs.google.com/document/d/1ipwWj7_L2Lo2YyALkra3Vl_dNu2RePTktVzG0QuPnFg/edit?ts=563159c6

[2015-10-31 00:10] SreeniASU commented on #2
Hello All,

 I was going through the code for Part1, and one of the observations I made
is,

1) We need to output the total absolute error.
2) For option 1, i.e No PC , the total absolute error should be 0.
3) But based on our logic, the total absolute error will be the sum of all
the pixel values which should not be the case.

Can someone please fix it? I am not touching the code as I feel, those

[2015-10-31 03:41] ApertureTS commented on #2
I can check it around 12
On Oct 30, 2015 5:10 PM, "SreeniASU" notifications@github.com wrote:

[2015-10-31 06:06] GCrispino commented on #2
Hey everyone. Just so you know, I have just pushed an updated version for task 4. The program is now already able to read a file, encode it and output the encoded data to a text file.
The problem is that LZW algorithm, when decoding, always miss the last part of the data(the last frame loses some information), I don't know why. When I did the tests with some strings, it worked perfectly.

The othe

[2015-10-31 09:15] ApertureTS commented on #2
@SreeniASU , PC1  is a special case, and we did not calculate the error for it, we just output a message that the error is 0, but for PC2-4, those should be correct. The values sent to the file for each pixel after the initial value is the error
frameError += abs(values[i][j])  -> is inside the writeToFile method.

[2015-10-31 16:42] Perryo commented on #2
I'm not sure if we have to do the absolute value as trying to rebuild the data will result in increasing large values and thus an increasingly darker video since we are operating on the y channel. No?

[2015-10-31 19:40] jakepruitt commented on #2
The errors in the file are not absolute values, but the number logged by PC that describes the aggregate error of the entire coding process should be in absolute terms.

[2015-11-01 01:02] GCrispino commented on #2
Hey guys,

Well, I am running through some issues.

First, earlier today I talked to the TA about some doubts I was having about the encoding. In all encoding algorithms I implemented I used an auxiliar dictionary to encode and to decode, even in the algorithms that are not dictionary based like LZW. So, for the encoding part, I was thinking about outputing, along with the binary encoded data, a d

[2015-11-01 19:29] Perryo commented on #2
Hey guys, who all is online right now? Would we like to get together and talk about what still needs to be done?

[2015-11-01 19:33] jakepruitt commented on #2
I'm online now, I'll push my code and ping you for a call

[2015-11-01 19:51] jakepruitt commented on #2
Need to run to lunch, so I'll just summarize where I am:
1. **Temporal Predictive Coding (tpc) to video** - finished last night, works really well. To try it out, run `python toVideo.py [path/to/file.tpc]` and it will output a `.avi` video file.
2. **Spacial Predictive Coding (spc) to video** - finished this morning on #25. Works really well for all options, nice job @SreeniASU!

My next steps are

[2015-11-01 21:31] Perryo commented on #2
I'll take a look at the report and see if I can add more information. When we are finished I'd like to transfer it to a word doc and fix a lot of the formatting, google docs has some pretty poor support for that.

[2015-11-01 22:09] #20 closed, assigned to nobody

[2015-11-01 22:11] jakepruitt commented on #19
@SreeniASU just a question, we keep all of the alpha values at 1/3 for the spatial encoding option 5, while the report says these values should adjust dynamically. Was this the extra credit the professor was talking about?

[2015-11-01 22:32] SreeniASU commented on #19
Yes. I tried that, but it doesn't seem to work.

On Sun, Nov 1, 2015 at 3:11 PM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-01 23:10] GCrispino commented on #2
Hi guys, I would like to clarify some stuff. One of the things that are asked on task IV is the encoded file size. Well, since I am not really compressing the file(I am outputing the encoded bits to a file, but as a string, not as actual bits), the file actually gets bigger than the original. So, I am displaying the file size as if it its bits were really the bits on the string it contains, plus t

[2015-11-01 23:26] SreeniASU commented on #2
I think the approach for finding the size of the encrypted file is right.
Let me do some research on calculating the SNR. If I find something will
let you know.

On Sun, Nov 1, 2015 at 4:10 PM, GCrispino notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-01 23:27] SreeniASU commented on #2
Sorry for the typo. I meant, encoded file size.

On Sun, Nov 1, 2015 at 4:26 PM, Sreenivas Shenoy spsheno1@asu.edu wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-01 23:27] GCrispino commented on #2
@SreeniASU Ok, thank you. I did some minor research, but what I found don't have much details, so I thought that maybe some of you maybe would know that.

[2015-11-02 05:20] SreeniASU commented on #2
Hello is anyone updating the task 5 on the report? I guess that is the only
part left.

On Sun, Nov 1, 2015 at 4:27 PM, GCrispino notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-02 05:24] jakepruitt commented on #2
I'll jump on that @SreeniASU, thanks for all of the help on the report!

[2015-11-02 11:02] jakepruitt commented on #2
Thanks for everyone's help this week! Everyone put in a huge effort, and it was really appreciated.

Since we were unable to finish arithmetic and LZW decoding until after midnight last night, and the report still was not finished, we missed the deadline, which I believe will dock us 5 points. I've finished up some documentation, and aggregated all of the steps of coding, quantizing and compressin

[2015-11-02 19:43] jakepruitt commented on #23
@Perryo I just updated the report, if you could take a look. I know that you wanted to format it specifically with Microsoft Word:tm:, so if you want to do that and then officially submit it when you get the chance, I'm happy with where it is.

[2015-11-02 19:47] Perryo commented on #23
Will do, ill send you guys the doc file once i finish updating it.

On Mon, Nov 2, 2015 at 12:43 PM, Jake Pruitt notifications@github.com
wrote:

[2015-11-02 19:48] SreeniASU commented on #2
I am afraid whether I will be able to work on this today as am submitting a
paper to a Journal with a tight deadline. I assure I can put more effort on
third phase of the project as I will be free after this week. I am really
sorry about it.

On Mon, Nov 2, 2015 at 4:02 AM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State Univers

[2015-11-02 20:47] jakepruitt commented on #4
Tests look good for project 1 and 2.

[2015-11-02 20:47] #4 closed, assigned to ApertureTS

[2015-11-02 20:52] #12 closed, assigned to nobody

[2015-11-09 16:40] Perryo opened #30 "Project 3 - Task Splitting"
Hey guys, I think we should all meet this week, maybe tomorrow, and talk about Part 3, the due date is going to sneak up on us and its around thanksgiving which may prove problematic for some people. Is everyone okay with meeting tomorrow? I will be available after 4pm.

[2015-11-10 05:42] GCrispino commented on #30
Tomorrow would be fine for me if everybody is available.

[2015-11-10 05:44] SreeniASU commented on #30
Fine with me too

On Mon, Nov 9, 2015 at 10:42 PM, GCrispino notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-10 22:59] Perryo commented on #30
Lets plan on meeting around 5:30?

https://hangouts.google.com/call/6ab3jj3nmkbbcerfslrnacvsfqa

[2015-11-10 23:44] SreeniASU commented on #30
Sure!!

On Tue, Nov 10, 2015 at 3:59 PM, James notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-11 00:49] Perryo commented on #30
# Please finish your part by Nov 17th.

Jake and Derek, here is what we have decided in the group meeting.
Part 1 (c) and Part 2 are both open and very similar, if you would like to work on them together that would be fine, you can also do them separately. We are aiming to have these done in the next week so that we can start part 3 and be done with ample time before the deadline.
Also, please fil

[2015-11-11 23:27] SreeniASU commented on #30
What a wonderful explanation of Discrete Cosine Transform :)

https://www.youtube.com/watch?v=Q2aEzeMDHMA

On Tue, Nov 10, 2015 at 5:49 PM, James notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-12 00:58] jakepruitt opened #31 "Phase 2 demo"
Hey @GCrispino @ApertureTS @Perryo @SreeniASU ,

Here are the open times for the demo:

| Day | Time |
| --- | --- |
| Monday | 09:00 AM - 09:45 AM |
| Tuesday | 01:30 PM - 02:15 PM |
| Tuesday | 02:15 PM - 03:00 PM |

I am able to make it on Monday, but have a class during the Tuesday times. If there is a majority on those days, I can skip and make it.

Also, if anyone wants to meet this weekend

[2015-11-12 01:06] GCrispino commented on #31
I can be there at all the open times. Just let me know which one is better for all of you.

[2015-11-12 01:17] ApertureTS commented on #31
I also can be there for any of those times.
On Nov 11, 2015 5:58 PM, "Jake Pruitt" notifications@github.com wrote:

[2015-11-12 01:22] SreeniASU commented on #31
Tuesday doesn't work for me as I have class from 1:30 PM - 2:45 PM. Monday
9 AM is fine with me

On Wed, Nov 11, 2015 at 6:17 PM, Derek notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-12 19:32] jakepruitt commented on #30
Hey, sorry I didn't see this sooner, I don't get mail unless I'm specifically mentioned. Task 1(c) sounds good for me, and once that's done extrapolating to task 2 shouldn't be that tough. Updated the comment above :shipit: Will get this moving tonight.

[2015-11-13 00:10] Perryo commented on #31
Any of these times work for me, just let me know what we decide.

[2015-11-13 00:26] Perryo commented on #30
@jakepruitt @GCrispino @SreeniASU @ApertureTS
Hey guys, I want to check my understanding for Part 1, because I'm scared of the possibility for very large data issues as we had last project.

The requirements state that we will split each frame into 8x8 regions called _frameblocks_. Then, at least for part a, we work on every block in _every frame_. So this means:

**Assumption 1:**
1. We quantize

[2015-11-13 05:02] jakepruitt commented on #31
Went with 09:00 AM - 09:45 AM on Monday 11/16.

[2015-11-13 16:32] jakepruitt commented on #30
My reading of part 1 is more in line with Assumption 2, where we quantize with the whole video.

Rather than _m_ bins, I think we are getting the user-supplied _n_ bins for quantizing.

I think the clue here is the format of the output of 1(c):

I think we quantize every pixel in a block, and output the **count** of each quantized value in a block. Thus an example would be:

[code]

Where 1 is the

[2015-11-13 16:58] Perryo commented on #30
@jakepruitt

That makes sense, in your example, the value (8,8) corresponds to the region and not necessarily the pixel location, are we losing this information in this quantization process?

[2015-11-13 17:16] jakepruitt commented on #30
@Perryo yes, I think the goal is to aggregate and simplify the image data with the hope of comparing frames of a video. Here, we're effectively getting an histogram of the frequency of each quantized grey in each 8x8 region. During the final step, we will find the most common frames by comparing these histograms, which is more effective and fast than comparing individual pixels.

[2015-11-13 17:57] ApertureTS commented on #30
Regions containing many pixels makes sense.
for the last step, how would we comparing the blocks? just read the file
created and compare what we wrote to the file? Is there a set way to score
how well they match?

On Fri, Nov 13, 2015 at 10:16 AM, Jake Pruitt notifications@github.com
wrote:

[2015-11-13 18:26] GCrispino commented on #30
@Perryo , I thought that we have to do something like Assumption 1, but what you said about large amounts of data and what @jakepruitt said about Assumption 2 make sense. I am concerned about this because task 1-d(that I have to do) is similar to task 1-a, so it is important we understand what they are asking us(what can be pretty confusing sometimes).

So, about the last component on the output(n

[2015-11-14 00:21] Perryo commented on #30
@GCrispino Yes, I think that we count the occurrence of those values and store that, if you want to see an example of this my code has been checked in, look for _occurancesInFrame_. Also @jakepruitt Yash responded to my email question, and it appears he wants quantization at the block level, however I have implemented the rest the way you specified as that makes the most sense. I'm currently worki

[2015-11-14 03:54] GCrispino commented on #30
@Perryo So, should we quantize each block individually, since Yash said so? Or are you just going to do it the other you since you have already started?

[2015-11-14 03:54] GCrispino commented on #30
(sorry, I closed the issue by mistake)

[2015-11-14 03:55] jakepruitt commented on #30
@Perryo could you reply to yash asking why we have the number_pixels in the data?

[2015-11-14 04:00] Perryo commented on #30
@GCrispino That is my understanding, Yash said that is what is expected. @jakepruitt I can email him and ask, but I believe it is used to construct the histogram as it is important to know the number of occurrences for each value.

[2015-11-14 09:27] GCrispino commented on #30
@Perryo ok. So I think we should stick with working with the blocks individually, since Yash said that. I have been doing some early tests for my part and it is already taking some time. Maybe that is the way it is.

[2015-11-15 19:18] Perryo commented on #30
@GCrispino @jakepruitt
Hey guys, I have the majority of my part done (still have to make histogram) but I've done the part that quantized each region and I am having the exact issue I was afraid of; It takes an extremely long time to process all this information.
1. Each video has around 700+ frames
2. Each frame has 4800 regions
3. Each region has 64 pixles: 64 \* 4800 \* 700 = **_215,040,000_**

[2015-11-15 22:43] jakepruitt commented on #30
Keeping you all in the loop, I just sent Yash a quick clarification question, here's what I asked:

---

I just had a quick clarification for Task 1(c). First, I want to make sure I am using the correct wavelet filter: I am working under the assumption that we are applying the 2D Haar transform to each block in each frame. Is this correct, or should we be using a different wavelet transform like D

[2015-11-16 02:27] GCrispino commented on #30
@Perryo , were you able to finish the program? Also, since in my assigned task I also have to do quantizing, but for the differences of the frames on the blocks, do yo think it would be adequate to use your code(I am assuming you used the same code from task 3 of project 2, didn't you?), since it is basically the same thing?

[2015-11-16 02:37] Perryo commented on #30
@GCrispino
I did (still need to do histogram), but I had to change around a bit of the quantization, but you should be fine using my solution. Would you try and run mine on your machine? My VM actually ran out of memory before it could finish...

[2015-11-16 02:44] GCrispino commented on #30
@Perryo oh, I see. I could try to run it here. I am getting some memory issues here with some of the sample videos as well.

[2015-11-16 03:57] GCrispino commented on #30
@Perryo , I ran your code and it generated a .mp4 file with a size of 1.05 GB. I opened in a text editor and its formatting, at least, seems allright.

![multimedia_project3_task1a](https://cloud.githubusercontent.com/assets/8827509/11174018/621260f0-8bdb-11e5-984f-d4248699ed35.PNG)

[2015-11-16 04:10] Perryo commented on #30
@GCrispino
Thanks for checking that but....
1.5 gb!!!!! That is not okay, I need to talk with Yash. Also I forgot to name the file correctly, but that shouldnt be a big deal. The main concern I have is this data still needs to be interpreted for the histogram...

[2015-11-16 04:14] GCrispino commented on #30
@Perryo
Yeah man, I can see that large amounts of data are going to be a big concern on this project.

[2015-11-17 21:02] Perryo commented on #30
@GCrispino @SreeniASU @jakepruitt @ApertureTS
Hey guys, can we all meet around 7:00pm today to discuss what we have accomplished?

[2015-11-17 21:59] ApertureTS commented on #30
sure, I have another group chat at 7:30, so I can only be on for 30 min

On Tue, Nov 17, 2015 at 2:02 PM, James notifications@github.com wrote:

[2015-11-17 22:13] SreeniASU commented on #30
Sure!!

On Tue, Nov 17, 2015 at 2:59 PM, Derek notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-18 01:06] jakepruitt commented on #30
Sounds good.

[2015-11-18 01:23] Perryo commented on #30
https://hangouts.google.com/call/6ab3jj3nmkbbcerfslrnacvsfqa

[2015-11-18 21:24] GCrispino commented on #30
Hey guys, just for your information: in case you don't know, earlier today the TA posted some new videos that have a smaller resolution(only 64x64 - YAY). So, I have just commited some changes to my code and put those new videos on the test/project1 folder as well.

[2015-11-20 16:21] Perryo commented on #30
@GCrispino @jakepruitt
Just a heads up, i've tried different methods including ensuring types are float until the final value is calculated for quantization and still have not found a solution. It appears its capable of falling off both ends of the range, where it can calculate a value less than and greater than the min and max of the region respectively.

[2015-11-20 22:44] jakepruitt commented on #30
@Perryo @GCrispino I have some bandwidth to hop on this rounding issue tonight.

@SreeniASU how's the DCT going? If you get a chance, could you push what you have so we can give it a review?

@ApertureTS Did you get any time to start task 2? Yash has pretty definitively answered the question about rectangular frames by saying "All frames are 64x64". We can probably build out whole video DWT now wi

[2015-11-21 00:41] SreeniASU commented on #30
Hello Jake,

 I have pushed the latest code and the code works perfectly fine. I have
done DCT implementation in two ways.

1) FindDCT method is the naive implementation of DCT formula. Apparently
performance is very low.

2) FindDCTFast method computes DCT in ultra - fast way. ;)  But I would
like to stick upon to the method FindDCT as it is more readable and is
direct implementation of the formu

[2015-11-21 02:37] ApertureTS commented on #30
I started task 2,  plan on working more tonight and tomorrow morning.
Did we decide on the Id?
On Nov 20, 2015 3:44 PM, "Jake Pruitt" notifications@github.com wrote:

[2015-11-21 04:53] GCrispino commented on #30
@jakepruitt cool. If you have any updates on it please let me know.
@Perryo about the histogram, I think we may have an issue. Last class I asked the professor about how the "pixelcount" value on the output of task 1d. I didn't understand too much his answer, but he said something about showing the histogram for a certain region of pixels or pixel values, which I believe that is different from wha

[2015-11-21 17:37] Perryo commented on #30
@GCrispino @SreeniASU @jakepruitt @ApertureTS

Lets meet around noon today if possible.

https://hangouts.google.com/call/vjw4qbimspyec4335z32evcq2ma

[2015-11-21 17:41] GCrispino commented on #30
@Perryo thats fine for me. I would like to leave around 1 or 1:15 because of the ASU game, if that's ok for you guys.

[2015-11-21 17:46] ApertureTS commented on #30
I have something at 1230, but I can be on for 30 min
On Nov 21, 2015 10:43 AM, "GCrispino" notifications@github.com wrote:

[2015-11-21 19:01] SreeniASU commented on #30
So, At what time are we meeting?

On Sat, Nov 21, 2015 at 10:46 AM, Derek notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-21 19:01] jakepruitt commented on #30
@SreeniASU 12:00

[2015-11-21 19:02] GCrispino commented on #30
@SreeniASU actually we have already started

[2015-11-21 19:09] SreeniASU commented on #30
Please post the link

On Sat, Nov 21, 2015 at 12:02 PM, GCrispino notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-21 19:09] jakepruitt commented on #30
https://hangouts.google.com/call/vjw4qbimspyec4335z32evcq2ma

[2015-11-23 22:13] jakepruitt commented on #30
Just had a chat with Yash, have some good feedback to move forward with.
1. The quantization with block-level max and min is correct
2. When talking about the histogram, Yash said it would be better to show the 64 histograms of each frame, rather than a histogram of the entire video. However, both of these features are more than required and "Extra features do not take points off."
3. When choosin

[2015-11-23 22:51] SreeniASU commented on #30
Cool. I will start looking into how to find the most significant DCT
components today late night.

On Mon, Nov 23, 2015 at 3:13 PM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-23 23:38] Perryo commented on #30
Lol @ that description of Yash. I'll look up some stuff when I get home tonight.

[2015-11-24 02:36] Perryo commented on #30
@jakepruitt
Good news! Python has built in functionality for comparing histograms, I don't believe this counts as taking the easy way out as it is a capability of the language and not an included package we used to subvert the requirements.
Documentation:
http://docs.opencv.org/2.4/modules/imgproc/doc/histograms.html#id1

In our case I think the method we would be using is correlation.

[2015-11-25 20:27] SreeniASU commented on #30
I have talked with the TA today on finding the most significant components
of DCT and DWT and as usual he was vague in his answers.

As per the discussion with him, there is no rule of thumb to find the
significant components of DCT or DWT and the method that we following now
might be right or wrong. :-/.

On Mon, Nov 23, 2015 at 7:36 PM, James notifications@github.com wrote:

##

Sreenivas P Shen

[2015-11-25 22:18] SreeniASU commented on #30
One of the problems of identifying significant components as the ones with
the maximum absolute value is that the idea won't work for comparing
different frames. For eg:- For Frame 1, Block (0,0) the significant
components might be at pixel co-ordinates (0,0) and (0,5) whereas for for
Frame 2, Block (0,0) the significant components might be at a different
pixel co-ordinate say (0,0) and (2,3).

Co

[2015-11-25 22:20] jakepruitt commented on #30
Awesome, if you could modify the block-dwt code in the same way that would be :ok_hand:. Thanks for doing that @SreeniASU, let me know if you run into any issues.

[2015-11-25 22:23] SreeniASU commented on #30
I have already modified it for block_dct and testing it. I will do for
block-dwt as well.

On Wed, Nov 25, 2015 at 3:20 PM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-25 23:30] SreeniASU commented on #30
Done. Please have a look when you get some time.

On Wed, Nov 25, 2015 at 3:23 PM, Sreenivas Shenoy spsheno1@asu.edu wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-28 17:51] Perryo opened #39 "Project 3 - Report"
@jakepruitt @GCrispino @ApertureTS @SreeniASU
As you are all aware the project is due tomorrow at midnight. I am going to chat with Jake about part 3, but from what I can see we are pretty much done. I will work on wrapping up the third part of the report for what I worked on as well as Task 1 (a), I ask that each of you do the same.

[2015-11-28 19:10] #31 closed, assigned to nobody

[2015-11-28 19:10] #23 closed, assigned to nobody

[2015-11-28 19:10] #19 closed, assigned to SreeniASU

[2015-11-28 19:55] GCrispino commented on #39
@Perryo got it. I have a question. Do you think I can just cite the section where you explain the details of task 1-a when I have to explain something in task 1-d that is implemented in the same way? For example, in both task 1-a and task 1-d we have to slice the frames into 8x8 blocks. On your part of the report regarding to task 1-a, you did a nice diagram illustrating that. So, do you think I w

[2015-11-28 19:57] Perryo commented on #39
@GCrispino
Absolutely, avoid explaining things twice as much as possible. Just say, as discussed in Task 1 (a) the frame is subdivided into 8x8 regions and quantized. Or whatever you need.

[2015-11-28 19:58] GCrispino commented on #39
@Perryo ok, got it.

[2015-11-28 20:46] jakepruitt commented on #39
@Perryo getting online now, will be diving into the report asap for my parts.

[2015-11-29 02:27] GCrispino commented on #39
@jakepruitt @Perryo @ApertureTS @SreeniASU
Guys, I finished writing the task 1-d part of the report. It is small, but I think I covered it all, because the concept on this part is not too complicated. If you want to take a look at that and see if something is missing, please let me know.

[2015-11-29 03:10] jakepruitt commented on #30
Woah, just found a big bug in the quantized compare - it was only comparing the last row of the frames. Making a fix now.

[2015-11-29 03:48] jakepruitt commented on #39
Just updated the report with the better results!

[2015-11-29 20:02] Perryo commented on #39
@jakepruitt
Awesome, good find.
@GCrispino @ApertureTS @SreeniASU
Looks like the individual portions of the report are done, lets hop on getting the abstract and intro finished and I can reformat and create the submission folder like last time.

Edit: I will be compiling the 'output' folder for submission, I'll push it to github so we can double check it.

[2015-11-29 20:14] Perryo commented on #39
@GCrispino
Also, it looks like part d is having problems with the write to file function. I'm looking into it, but you might want to check as well.
It looks like you are passing a dictionary with a complex data structure (like that from part a) but are treating it as an array

[2015-11-29 23:28] GCrispino commented on #39
@Perryo which problems exactly? When I tested it worked fine.

[2015-11-30 00:34] Perryo commented on #39
When attempting to write to file.
![capture](https://cloud.githubusercontent.com/assets/9117438/11461382/779a0a6a-96bf-11e5-9cf6-36286a4dd53c.PNG)

[2015-11-30 00:43] GCrispino commented on #39
@Perryo Does it happen every time you try to run this program? Or does it only happen in some situations?

[2015-11-30 00:44] Perryo commented on #39
@GCrispino
Run R2.mp4 with n = 5, shouldnt matter though, breaks for me all the time

[2015-11-30 00:57] GCrispino commented on #39
@Perryo what do you mean by running it with frame #150?
I ran it with R2.mp4 and n = 5 and it worked well(using command line arguments). I tried to test it again but python is not working well in my PC sometimes and I can't restart right now(have to finish a test on blackboard). Also, I have not pulled anything from the repository today, did you change something on the code that could be the reaso

[2015-11-30 01:27] jakepruitt commented on #39
@Perryo experiencing the same issue - debugging now.

[2015-11-30 01:28] Perryo commented on #39
@GCrispino
My mistake on the frame #, been looking at part 3 for too long. I haven't changed anything, but if you want to upload that file that was generated from execution that would rock, or send it to me.

[2015-11-30 01:28] Perryo commented on #39
@jakepruitt
Cool, Let me know if you want an extra pair of eyes, I'm hanging around

[2015-11-30 01:30] jakepruitt commented on #39
@Perryo pushed a fix to master :+1:

[2015-11-30 01:33] Perryo commented on #39
@jakepruitt
Right on. I'm formatting the report. google docs did _not_ play nice with the images and tables.

[2015-11-30 01:33] GCrispino commented on #39
@jakepruitt good job!
@Perryo sorry for the delay. Do you still need the generated file?

[2015-11-30 01:38] Perryo commented on #39
@GCrispino
No worries. I can make it on my own.

[2015-11-30 01:38] GCrispino commented on #39
@Perryo ok man.

[2015-11-30 01:47] ApertureTS commented on #39
@Perryo I'm done. do you need anything else?

[2015-11-30 02:02] Perryo commented on #39
@GCrispino @jakepruitt @ApertureTS @SreeniASU
The report has all the information filled in, please respond to this indicating that you have nothing more to add, and I will export this to a formatted pdf then upload it for you guys to view.

[2015-11-30 02:05] jakepruitt commented on #39
\o/ 27 pages of greatness. So glad we got a head start on this and killed it. Way to go everyone!

[2015-11-30 02:20] SreeniASU commented on #39
Good to go I feel!!

On Sun, Nov 29, 2015 at 7:05 PM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-11-30 02:21] ApertureTS commented on #39
Thanks for all the work you put into it.
On Nov 29, 2015 7:05 PM, "Jake Pruitt" notifications@github.com wrote:

[2015-11-30 02:24] jakepruitt commented on #39
Do we need to do peer evaluations for this part?

[2015-11-30 02:24] Perryo commented on #39
Yep. Make sure you guys fill those out.

[2015-11-30 02:34] Perryo commented on #39
Okay guys, I pushed the report and the submission zip to the Project 3 folder. I'll go ahead an submit this.

[2015-11-30 03:51] ApertureTS commented on #39
hey, did we put the work done by each person in the report? I didn't see it

On Sun, Nov 29, 2015 at 7:34 PM, James notifications@github.com wrote:

[2015-11-30 03:52] ApertureTS commented on #39
also I don't see the conclusion...

On Sun, Nov 29, 2015 at 8:51 PM, Derek Norman danorma1@asu.edu wrote:

[2015-11-30 05:17] jakepruitt commented on #39
Shoot, yeah we might need the User Guide and Conclusion. @Perryo should we resubmit it with more information?

[2015-11-30 05:24] SreeniASU commented on #39
I am not sure if the Prof really looks into conclusion and all those stuff.
This time we have detailed everything from Task 1 - 3 and I feel that
should be sufficient. But if we really want a conclusion, I can go ahead
and edit it.

On Sun, Nov 29, 2015 at 10:17 PM, Jake Pruitt notifications@github.com
wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
sps

[2015-11-30 05:30] ApertureTS commented on #39
I know its in the report document. Just figured that it would suck to lose
points for something like that.

On Sun, Nov 29, 2015 at 10:24 PM, SreeniASU notifications@github.com
wrote:

[2015-11-30 05:41] GCrispino commented on #39
Just so you know, I think on the last phase of the project we didn't put the role of each person on the report, and apparently we didn't lose any points because of it.

[2015-11-30 06:03] jakepruitt commented on #39
Updated with Usage and Conclusion, uploaded it at 11 pm with the updates. :rocket:

[2015-11-30 06:11] ApertureTS commented on #39
cool

On Sun, Nov 29, 2015 at 11:03 PM, Jake Pruitt notifications@github.com
wrote:

[2015-11-30 23:51] jakepruitt opened #41 "Project 3 Demo"
As of right now, these are the available times:

| Date | Day | time |
| --- | --- | --- |
| 11/2/2015 | Wednesday | 01:00 PM - 02:00 PM |
| 11/2/2015 | Wednesday | 02:15 PM - 03:15 PM |
| 11/2/2015 | Wednesday | 03:30 PM - 04:30 PM |

What can everyone do? I'm afraid I am leaving town on Wednesday at 1:30, so unless we can trade with another group, I won't be able to make this demo. If anyone wan

[2015-12-01 00:55] ApertureTS commented on #41
I have a class that ends at 1, so the last 2 times would work for me.
Will you be on campus tomorrow or meet
On Nov 30, 2015 4:52 PM, "Jake Pruitt" notifications@github.com wrote:

[2015-12-01 01:05] Perryo commented on #41
@jakepruitt
I'm assuming this is for 12/2/2015, I can make any of those times, just let me know so i can put it in my phone.

[2015-12-01 04:17] SreeniASU commented on #41
Anytime works with me for 12/02/2015

On Mon, Nov 30, 2015 at 6:05 PM, James notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-12-01 04:28] GCrispino commented on #41
I have a class that finishes at 1:15 PM on Wednesday. The second time is best for me, but I can be there at the third one too.

[2015-12-01 04:33] jakepruitt commented on #41
Great, signed up for the 2:15-3:15 block!

[2015-12-02 00:43] Perryo commented on #41
@jakepruitt
Looked over dwt, I think i've got a good grasp on it based on what i've read in the code/report. One question however. After the high/low pass filters and array concatenation, the values are passed through the filters again to create the 4 quadrant transform. Why is this done again, and are you specifically slicing the array to create these quadrants?

[2015-12-02 02:20] jakepruitt commented on #41
So the LL quadrant (top-right hand corner after first iteration of DWT) has the most information out of the four quadrants produced in the first iteration. If we can take this information and distill it down **even further** we can get really good compression and isolate the most significant aspects in the image.

After the first iteration is done, we perform a second iteration on that top-left (i

[2015-12-02 03:07] Perryo commented on #41
@jakepruitt
Perfect, exactly what I was wondering. I'm trying to understand everything so Yash can't get off on trying to confuse us out of points.

[2015-12-02 04:49] SreeniASU commented on #41
Yash has mailed to use values of n and m. But how is value of 100 possible
for DCT or DWT. We have only 64 values per frame block. :-/

On Tue, Dec 1, 2015 at 8:07 PM, James notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-12-02 05:37] Perryo commented on #41
@SreeniASU
Maybe its him trying to check the outputs and see if it behaves weirdly?

[2015-12-02 05:38] SreeniASU commented on #41
I have mailed him. Waiting for the reply :)

On Tue, Dec 1, 2015 at 10:37 PM, James notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1@asu.edu
Cell 480-738-3280

[2015-12-02 06:43] GCrispino commented on #41
Hey guys. Sorry for getting late here, but did some of you see that Yash put the demo videos and that we have to process it and bring the generated features to the video?

[2015-12-02 07:52] ApertureTS commented on #41
Do you want me to print the report. if so, let em know before 10 am

On Tue, Dec 1, 2015 at 11:43 PM, GCrispino notifications@github.com wrote:

[2015-12-02 08:10] GCrispino commented on #41
@ApertureTS that would be good, if you can.

[2015-12-02 15:39] Perryo commented on #41
@ApertureTS @SreeniASU @GCrispino
Who can bring a laptop for the demo? Mine does not have the openCV package installed.

[2015-12-02 16:01] ApertureTS commented on #41
I can bring mine... But I haven't tested it on my laptop
On Dec 2, 2015 8:39 AM, "James" notifications@github.com wrote:

[2015-12-02 16:08] Perryo commented on #41
@ApertureTS @GCrispino
Thats fine, make sure you test before though and make sure it works. Gabriel, we could use your laptop possibly? I know you have it set up.

[2015-12-02 17:51] GCrispino commented on #41
@Perryo I can bring my laptop. However, I have not tested all the tasks on it, and also I don't have the extracted features generated from the specific input videos for this task. Does someone have the time to do this(or already did)? I have two classes right now.

[2015-12-02 17:58] ApertureTS commented on #41
I'm trying to, but I also have a class, and just installed the matlab lib

On Wed, Dec 2, 2015 at 10:51 AM, GCrispino notifications@github.com wrote:

[2015-12-02 18:45] GCrispino commented on #41
@Perryo @jakepruitt @ApertureTS @SreeniASU
guys, I tried to run everything to output the features and pushed it to the rep. On the dct and dwt scripts, I wasn't able to run with a n value of 100, it gets an error. Please check the outputs to see if everything is ok.

[2015-12-02 19:07] Perryo commented on #41
@GCrispino
Thanks for taking care of that Gabriel
@SreeniASU
Have you heard anything back from Yash on what he means by running it with n = 100?

[2015-12-02 19:13] SreeniASU commented on #41
I didnt get a reply from Yash. But I talked with one of my friends who
finished his demo just now and what he said was, for DCT and DWT where n =
100 is not possible prof asked them to use n = 64, which is the maximum
value possible.

On Wed, Dec 2, 2015 at 12:07 PM, James notifications@github.com wrote:

##

Sreenivas P Shenoy
M.S. Computer Science & Engineering
Arizona State University,
spsheno1

[2015-12-02 19:16] Perryo commented on #41
@SreeniASU
Awesome, sounds good.

[2015-12-02 20:03] ApertureTS commented on #41
What time did we sign up for?
On Dec 2, 2015 12:16 PM, "James" notifications@github.com wrote:

[2015-12-02 20:19] Perryo commented on #41
@ApertureTS

This is in the normal classroom, correct?

[2015-12-02 20:24] ApertureTS commented on #41
Should be byeng 580. 5th floor

@ApertureTS https://github.com/ApertureTS

Great, signed up for the 2:15-3:15 block!

This is in the normal classroom, correct?

—
Reply to this email directly or view it on GitHub
https://github.com/SreeniASU/multimedia-information-systems/issues/41#issuecomment-161421671
.

[2015-12-02 20:56] Perryo commented on #41
Im here now I don't see anyone

[2015-12-02 20:58] ApertureTS commented on #41
Sreeni and I will be there in a few minutes we are in the computer lab on
the 2nd floor
On Dec 2, 2015 1:56 PM, "James" notifications@github.com wrote:

[2015-12-02 20:59] Perryo commented on #41
It's 598 come up he's waiting

[2015-12-02 22:00] Perryo commented on #41
@jakepruitt
Just wanted to let you know the presentation went very smoothly. Professor only had one concern about us calculating min and max values for quantization at the block level instead of at the video level. However we explained to him this was an artifact of the assumption we made and verified with Yash and he seemed okay with that. The results also demonstrated to him that the function st

[2015-12-03 04:36] jakepruitt commented on #41
@Perryo thank you so much for the update, and thanks so much for pulling off the presentation so smoothly! Glad the results were so great.

[2015-12-03 05:22] GCrispino commented on #41
@Perryo really nailed at leading the presentation!
Also, I want to thank all of you guys for working together on these projects throughout this semester. It was a pleasure to know and to work with all of you.

[2015-12-05 00:31] #41 closed, assigned to nobody

[2015-12-05 00:35] #2 closed, assigned to nobody

[2016-01-06 06:17] jakepruitt commented on #39
Well done team

[2016-01-06 06:17] #39 closed, assigned to nobody

[2016-01-06 06:20] #30 closed, assigned to nobody